streamlit==1.35.0
PyMuPDF==1.24.3
langchain==0.2.1
langchain-openai==0.1.8
langchain-community==0.2.1
faiss-cpu==1.8.0
python-dotenv==1.0.1
fpdf2==2.7.9
tiktoken==0.7.0
google-generativeai
sentence-transformers